@charset "utf-8";
@use 'sass-partials/fonts';
@use 'sass-partials/color';
@use 'sass-partials/general-layout';
 

/* ===== HEADER AND SEARCH BAR ===== */
header {
    form {
        display: flex;
        justify-content: center;
    }
}

/* ===== RECIPE DISPLAY ===== */
.recipes {
    width: 85vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 3rem;
    .recipe {
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 5px silver;
        border-radius: 20px;
    }
    .recipe-category {
        background-color: #58BC82;
        padding: 0.5rem 0.75rem;
        align-self: flex-start;
    }
}

/* ===== LANDING ===== */

.quote-section {
    padding: 5rem;
}