@charset "utf-8";
@use 'sass-partials/fonts' as fonts;
@use 'sass-partials/color' as color;
@use 'sass-partials/general-layout'as general-layout;
 

/* ===== HEADER AND SEARCH BAR ===== */
header {
    flex-direction: column;
    
    .search-bar-area {
        display: flex;
    }
    
    .search-input {
        background-color: color.$green-tea-green;
        border: none; 
        border-radius: 50px 0 0 50px;
        font-size: 1.25rem;
        font-weight: bold;
        padding-left: 30px;
        height: 55px;
        min-width: 341px;
    }

    .search-input:hover,
    .search-input:focus {
        border-color: color.$dark-forest-green;
    }

    .search-button {
        background-color: color.$dark-teal;
        border-color: color.$dark-teal;
        border-radius: 0 50px 50px 0;
        margin-right: 20px;
        padding: 8px 11px;
    }

    .search-button:hover,
    .search-button:focus {
        background-color: color.$light-teal;
        border-width: 3px;
    }

    .refresh-button {
        background-color: color.$dark-magenta;
        border-color: color.$dark-magenta;
        border-radius: 15px;
        height: 55px;
        padding: 0 10px;
    }
    
    .refresh-button:hover,
    .refresh-button:focus {
        background-color: color.$light-magenta;
        border-width: 3px;
    }

    .icon-search {
        /* Using currentColor above lets
        us use `color` for changing the color
        of our icons: */
        color: white;
        /* The width and height of the SVG
        was previously set to 1em.
        This allows us to use `font-size`
        to change the size of our icon: */
        font-size: 34px;
    }

    .icon-spinner11 {
        color: white;
        font-size: 35px;
    }
    
    .app-instructions {
        font-weight: bold;
        margin-top: 2rem;
    }
}

/* ===== RECIPES DISPLAY ===== */
.recipes {
    width: 85vw;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 3rem;
    .recipe {
        margin: 0 0.5vw; // small margin left and right, so they never touch
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 3px 3px 5px silver;
        border-radius: 20px;
        .recipe-image {
            width: 100%;
            object-fit: cover;
        }
        .recipe-category {
            margin: 0;
            padding: 0.5rem 0.75rem;
            background-color: color.$emerald;
            align-self: flex-start;
        }
        .recipe-title-container {
            flex-grow: 2;
            margin: 0;
            padding: 1rem;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .recipe-button {
            margin: 0;
            padding: 10px;
            width: 80%;
            background-color: color.$dark-teal;
            border: color.$dark-teal;
            border-radius: 15px;

            &:hover {
                background-color: color.$light-teal;
            }
        }
    }
}


/* ===== LANDING ===== */

.quote-section {
    padding: 5rem;
}

/* ===== FOOTER ===== */
footer {
    background-color: color.$dark-teal;
    padding: 5rem 0;
    width: 100%;

    .icon-github {
        color: white;
        font-size: 75px;
    }
}