@import 'color';
@import 'fonts';

@charset "UTF-8";

* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    font-family: $default-font;
    background-color: $dark-teal;
}

header,
section,
article,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}