h1, h2, h3, h4, ol, p, ul, li {
  color: #384547;
}

h1, h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
}

li {
  line-height: 200%;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

h2, .recipe-button {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  text-align: center;
}

.recipe-button {
  color: white;
}

.recipe-category {
  color: black;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}

h1, h2, h3, h4, ol, p, ul, li {
  color: #384547;
}

h1, h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
}

li {
  line-height: 200%;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

h2, .recipe-button {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  text-align: center;
}

.recipe-button {
  color: white;
}

.recipe-category {
  color: black;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header,
section,
article,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  flex-direction: column;
  width: 70vw;
}

.icon {
  display: inline-block;
  color: #444444;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* ===== HEADER AND SEARCH BAR ===== */
header {
  flex-direction: column;
}
header .search-form {
  display: flex;
  flex-direction: row;
}
header .search-form__input {
  background-color: #C9E8BA;
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  border-radius: 50px 0 0 50px;
  font-size: 1.25rem;
  font-weight: bold;
  padding-left: 30px;
  height: 55px;
  min-width: 341px;
}
header .search-form__search-button {
  background-color: #196160;
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  margin-right: 20px;
  padding: 8px 11px;
}
header .search-form__search-button:hover, header .search-form__search-button:focus {
  background-color: #0D9D9B;
}
header .search-form__refresh-button {
  background-color: #8F2D56;
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  cursor: pointer;
  height: 55px;
  padding: 0 10px;
}
header .search-form__refresh-button:hover, header .search-form__refresh-button:focus {
  background-color: #C5497F;
}
header .icon-search {
  /* Using currentColor above lets
  us use `color` for changing the color
  of our icons: */
  color: white;
  /* The width and height of the SVG
  was previously set to 1em.
  This allows us to use `font-size`
  to change the size of our icon: */
  font-size: 34px;
}
header .icon-spinner11 {
  color: white;
  font-size: 35px;
}
header .app-instructions {
  font-weight: bold;
  margin-top: 2rem;
}

/* ===== LANDING PAGE ===== */
#landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#landing-page .quote-section {
  padding: 5rem;
}

.no-results {
  font-size: 24px;
  color: grey;
}

/* ===== RECIPES DISPLAY ===== */
.example-recipes__desc .example-recipes__desc-container {
  padding-top: 3rem;
  display: flex;
  align-items: center;
}
.example-recipes__desc .example-recipes__desc-container .icon-redo2 {
  color: #384547;
  font-size: 28px;
  margin-right: 0.25rem;
}

.recipes {
  padding-top: 1.5rem;
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 20px;
}
.recipes .recipe {
  width: 310px;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 3px 3px 5px silver;
}
.recipes .recipe .recipe-image {
  width: 310px;
  height: 273px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.recipes .recipe .recipe-category {
  font-weight: bold;
  margin: 0;
  padding: 0.25rem 0.75rem;
  background-color: #58BC82;
  align-self: flex-start;
}
.recipes .recipe .recipe-title__container {
  flex-grow: 2;
  margin: 0;
  padding: 1rem;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipes .recipe .recipe-button {
  margin: 0;
  padding: 10px;
  width: 80%;
  background-color: #196160;
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  cursor: pointer;
}
.recipes .recipe .recipe-button:hover, .recipes .recipe .recipe-button:focus {
  background-color: #0D9D9B;
}

/* ===== SEARCH RESULTS ===== */
#search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search-results-container ul {
  margin: 0;
  padding: 1rem 0;
}

/* ===== MODAL ===== */
#modal {
  margin: 0px auto;
  padding: 0px;
  font-family: "Open Sans";
  width: 950px;
  background-color: #8F2D56;
}
#modal h1, #modal h3, #modal ul, #modal li {
  color: white;
}
#modal h1 {
  font-size: 3rem;
}
#modal .recipe-details__exit-button {
  background-color: #196160;
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 5px;
  color: white;
  float: right;
  margin-right: 50px;
}
#modal .recipe-details__exit-button:hover, #modal .recipe-details__exit-button:focus {
  background-color: #0D9D9B;
}
#modal .recipe-details__exit-button .icon-cross {
  color: white;
  font-size: 16px;
}
#modal .img-title-row {
  display: flex;
  flex: 2;
  margin: 20px;
  align-items: center;
  text-align: center;
}
#modal .img-title-row .img-container img {
  width: 325px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
#modal .img-title-row .title-container {
  margin: auto;
}
#modal .img-title-row .title-container .meal-label {
  display: inline-flex;
  padding: 10px;
  justify-content: space-around;
  background-color: #58BC82;
  min-width: 150px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}
#modal .img-title-row .title-container .meal-label h2 {
  color: black;
  font-size: 1.25rem;
  margin: 0;
}
#modal .ingredients {
  text-align: center;
  padding-top: 5px;
}
#modal #ingredients-list {
  display: inline-block;
  text-align: left;
}
#modal .instructions {
  text-align: center;
}
#modal #instructions-list {
  display: inline-block;
  text-align: left;
  margin: 0 10%;
  padding-bottom: 10%;
}

/* ===== FOOTER ===== */
footer {
  background-color: #196160;
  padding-top: 5rem;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer .icon-github {
  color: white;
  font-size: 75px;
}
footer .github-link:hover,
footer .github-link:focus {
  border: 0.1em solid rgba(0, 0, 0, 0.2);
}
footer .socials-and-attributions {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-top: 3rem;
  justify-self: flex-end;
}
footer .socials-and-attributions a:link {
  color: #bfdbff;
}
footer .socials-and-attributions a:visited {
  color: #ddd1ff;
}
footer .socials-and-attributions a:active {
  color: #ffcccf;
}

/* ===== Media Queries ===== */
/* For phones in Portrait Mode */
@media screen and (max-width: 500px) {
  /* Landing Page */
  header .brand {
    font-size: 2rem;
  }
  header .search-container {
    margin: 0 10px;
  }
  header .search-form {
    justify-content: center;
  }
  header .search-form__input {
    min-width: 200px;
    font-size: 1rem;
    padding-left: 10px;
    flex-grow: 2;
  }
  header .search-form__search-button {
    margin-right: 5px;
  }
  header .app-instructions {
    margin: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
  }
  .recipes {
    padding-top: 0.5rem;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
  #landing-page .quote-section {
    padding: 2rem 0;
    width: 90vw;
    align-self: center;
  }
  #landing-page .quote-section h3 {
    font-size: 2rem;
  }
  #landing-page .suggestions-headline {
    margin: 0;
  }
  /* Search Results */
  #search-results-container ul {
    padding: 0;
  }
  /* Modal */
  #modal {
    margin-top: 1rem;
    width: 85vw;
    position: relative;
  }
  #modal .recipe-details__exit-button {
    margin: 5px 5px 0 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  #modal .img-title-row {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  #modal .img-title-row .img-container img {
    width: 100%;
    height: auto;
  }
  #modal .img-title-row .title-container h1 {
    font-size: 2rem;
  }
  #modal .img-title-row .title-container .meal-label {
    height: 40px;
  }
  #modal .img-title-row .title-container .meal-label h3 {
    font-size: 1.5rem;
  }
  #modal .ingredients {
    margin: 0;
    margin-right: 10px;
  }
  #modal .instructions {
    margin: 0;
    margin-right: 10px;
  }
}
/* For screens larger than phones that move down to one card per row */
@media screen and (min-width: 501px) and (max-width: 1000px) {
  .recipes {
    width: 85vw;
  }
  article {
    width: 100vw;
  }
}
/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}/*# sourceMappingURL=main.css.map */