@charset "utf-8";
@use 'sass-partials/fonts' as fonts;
@use 'sass-partials/color' as color;
@use 'sass-partials/general-layout'as general-layout;
 

/* ===== HEADER AND SEARCH BAR ===== */
header {
    flex-direction: column;
    
    .search-form {
        display: flex;
        flex-direction: row;
    }
    
    .search-form__input {
        background-color: color.$green-tea-green;
        border: 0.1em solid rgb(0 0 0 / 0.2);
        border-radius: 50px 0 0 50px;
        font-size: 1.25rem;
        font-weight: bold;
        padding-left: 30px;
        height: 55px;
        min-width: 341px;
    }

    .search-form__search-button {
        background-color: color.$dark-teal;
        border: 0.1em solid rgb(0 0 0 / 0.2);
        border-radius: 0 50px 50px 0;
        cursor: pointer;
        margin-right: 20px;
        padding: 8px 11px;

        &:hover,
        &:focus {
        background-color: color.$light-teal;
        }
    }


    .search-form__refresh-button {
        background-color: color.$dark-magenta;
        border: 0.1em solid rgb(0 0 0 / 0.2);
        border-radius: 15px;
        cursor: pointer;
        height: 55px;
        padding: 0 10px;

        &:hover, &:focus {
            background-color: color.$light-magenta;
        }
    }
    
    .icon-search {
        /* Using currentColor above lets
        us use `color` for changing the color
        of our icons: */
        color: white;
        /* The width and height of the SVG
        was previously set to 1em.
        This allows us to use `font-size`
        to change the size of our icon: */
        font-size: 34px;
    }

    .icon-spinner11 {
        color: white;
        font-size: 35px;
    }
    
    .app-instructions {
        font-weight: bold;
        margin-top: 2rem;
    }
}

/* ===== LANDING PAGE ===== */
#landing-page {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .quote-section {
        padding: 5rem;
    }
}

/* ===== RECIPES DISPLAY ===== */
.static-recipes__desc {
    padding-top: 3rem;
    .icon-redo2 {
        color: color.$dark-forest-green;
        font-size: 28px;
        margin-right: .25rem;
    }
}

.recipes {
    padding-top: 1.5rem;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
  
    .recipe {
        width: 310px;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 20px;
        box-shadow: 3px 3px 5px silver;
        .recipe-image {
            width: 310px;
            height: 273px;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
        .recipe-category {
            margin: 0;
            padding: 0.5rem 0.75rem;
            background-color: color.$emerald;
            align-self: flex-start;
        }
        .recipe-title__container {
            flex-grow: 2;
            margin: 0;
            padding: 1rem;
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .recipe-button {
            margin: 0;
            padding: 10px;
            width: 80%;
            background-color: color.$dark-teal;
            border: 0.1em solid rgb(0 0 0 / 0.2);
            border-radius: 15px;
            cursor: pointer;

            &:hover, &:focus {
                background-color: color.$light-teal;
            }
        }
    }
}

/* ===== SEARCH RESULTS ===== */
#search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        margin: 0;
        padding: 3rem 0;
    }
}

/* ===== MODAL ===== */
#modal {
    margin: 0px auto;
    padding: 0px;
    font-family: 'Open Sans';
    width: 950px;
    background-color: color.$dark-magenta;
    h1, h2, ul, li {
        color:white;
    }
    .recipe-details__exit-button {
        background-color: color.$dark-teal;
        border: 0.1em solid rgb(0 0 0 / 0.2);
        border-radius: 50%;
        cursor: pointer;
        padding: 5px 5px;
        color:white;
        float:right;
        margin-right:50px;

        &:hover, &:focus {
            background-color: color.$light-teal;
        }

        .icon-cross {
            color: white;
            font-size: 16px;
        }
    }
    .img-title-row {
        display:flex;
        flex:2;
        margin:20px;
        align-items: center;
        text-align: center;
        .img-container {
            img {
                width: 325px;
                height: 230px;
                object-fit: cover;
            }
        }
        .title-container {
            .meal-label {
            display: inline-flex;
            padding: 20px 20px;
            justify-content: space-around;
            background-color: #58BC82;
           height: 75px;
           min-width: 150px;
           align-items: center;
           text-align: center;
           border-radius: 20px;
            }
            
        }
    }
    .ingredients {
        margin: 50px;
    }
    .instructions {
        margin:50px;
    }
}


/* ===== FOOTER ===== */
footer {
    background-color: color.$dark-teal;
    padding: 5rem 0;
    width: 100%;

    .icon-github {
        color: white;
        font-size: 75px;
    }

    .github-link:hover,
    .github-link:focus {
        border: 0.1em solid rgb(0 0 0 / 0.2);
    }
}

/* ===== Media Queries ===== */

/* For phones in Portrait Mode */
@media screen and (max-width: 500px) {

    /* Landing Page */
    header {
        .brand {
            font-size: 2rem;
        }
        .search-container {
            margin: 0 10px;
        }
        .search-form {
            justify-content: center;
        }
        .search-form__input {
            min-width: 200px;
            font-size: 1rem;
            padding-left: 10px;
            flex-grow: 2;
        }
        .search-form__search-button {
            margin-right: 5px;
        }
        .app-instructions {
            text-align: center;
            font-weight: bold;
            margin-top: 1rem;
        }
    }
    .static-recipes__desc {
        margin: 0 25px;
        padding-top: 0;
        font-size: 0.9rem;
    }
    .recipes {
        padding-top: 0.5rem;
        width: 100vw;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }
    #landing-page {
        .quote-section {
            padding: 0;
            width: 90vw;
            align-self: center;
            h3 {
                font-size: 2rem;
            }
        }
    }

}

/* For tablets */
@media screen and (min-width: 501px) and (max-width: 1200px) {

}

/* For laptops and regular-size desktops */
@media screen and (min-width: 1201px) and (max-width: 2000px) {

}

/* For widescreen desktops */
@media screen and (min-width: 2001px) {
    
}





/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden,
 [hidden] {
   display: none !important;
 }
 
 /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
 
 .sr-only {
   border: 0;
   clip: rect(0, 0, 0, 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   white-space: nowrap;
   width: 1px;
   /* 1 */
 }
 
 /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
 
 .sr-only.focusable:active,
 .sr-only.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   white-space: inherit;
   width: auto;
 }
 
 /*
  * Hide visually and from screen readers, but maintain layout
  */
 
 .invisible {
   visibility: hidden;
 }