@charset "utf-8";
@use 'sass-partials/fonts' as fonts;
@use 'sass-partials/color' as color;
@use 'sass-partials/general-layout'as general-layout;
 

/* ===== HEADER AND SEARCH BAR ===== */
header {
    flex-direction: column;
    
    .search-form {
        display: flex;
        flex-direction: row;
    }
    
    .search-form__input {
        background-color: color.$green-tea-green;
        border: 0.1em solid rgb(0 0 0 / 0.2);
        border-radius: 50px 0 0 50px;
        font-size: 1.25rem;
        font-weight: bold;
        padding-left: 30px;
        height: 55px;
        min-width: 341px;
    }

    .search-form__search-button {
        background-color: color.$dark-teal;
        border: 0.1em solid rgb(0 0 0 / 0.2);
        border-radius: 0 50px 50px 0;
        cursor: pointer;
        margin-right: 20px;
        padding: 8px 11px;

        &:hover,
        &:focus {
        background-color: color.$light-teal;
        }
    }


    .search-form__refresh-button {
        background-color: color.$dark-magenta;
        border: 0.1em solid rgb(0 0 0 / 0.2);
        border-radius: 15px;
        cursor: pointer;
        height: 55px;
        padding: 0 10px;

        &:hover, &:focus {
            background-color: color.$light-magenta;
        }
    }
    
    .icon-search {
        /* Using currentColor above lets
        us use `color` for changing the color
        of our icons: */
        color: white;
        /* The width and height of the SVG
        was previously set to 1em.
        This allows us to use `font-size`
        to change the size of our icon: */
        font-size: 34px;
    }

    .icon-spinner11 {
        color: white;
        font-size: 35px;
    }
    
    .app-instructions {
        font-weight: bold;
        margin-top: 2rem;
    }
}

/* ===== LANDING PAGE ===== */
#landing-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    .quote-and-suggestions-section {
        padding: 5rem;
        .citations {
            font-size: 1rem;
        }
    }
}

.no-results {
    font-size:24px;
    color:grey;
    margin-bottom: 4rem;
}

/* ===== SEARCH RESULTS RECIPES DISPLAY ===== */
#search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        margin: 0;
        padding: 1rem 0;
    }
    .example-recipes__desc {
        padding-top: 3rem;
        display: flex;
        align-items: center;
        .icon-redo2 {
            color: color.$dark-forest-green;
            font-size: 28px;
            margin-right: .25rem;
        }
    }
    .recipes {
        padding-top: 1.5rem;
        width: 75vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        gap: 20px;
      
        .recipe {
            width: 310px;
            padding-bottom: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            border-radius: 20px;
            box-shadow: 3px 3px 5px silver;
            .recipe-image {
                width: 310px;
                height: 273px;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }
            .recipe-category {
                font-weight: bold;
                margin: 0;
                padding: 0.25rem 0.75rem;
                background-color: color.$emerald;
                align-self: flex-start;
            }
            .recipe-title__container {
                flex-grow: 2;
                margin: 0;
                padding: 1rem;
                width: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .recipe-button {
                margin: 0;
                padding: 10px;
                width: 80%;
                background-color: color.$dark-teal;
                border: 0.1em solid rgb(0 0 0 / 0.2);
                border-radius: 15px;
                cursor: pointer;
    
                &:hover, &:focus {
                    background-color: color.$light-teal;
                }
            }
        }
    }
}

/* ===== MODAL ===== */
#modal {
    margin: 0px auto;
    padding: 0px;
    font-family: 'Open Sans';
    width: 950px;
    background-color: color.$dark-magenta;
    h1, h3, ul, li {
        color:white;
    }
    h1 {
        font-size: 3rem;
    }
    .recipe-details__exit-button {
        background-color: color.$dark-teal;
        border: 0.1em solid rgb(0 0 0 / 0.2);
        border-radius: 50%;
        cursor: pointer;
        padding: 5px 5px;
        color:white;
        float:right;
        margin-right:50px;

        &:hover, &:focus {
            background-color: color.$light-teal;
        }

        .icon-cross {
            color: white;
            font-size: 16px;
        }
    }
    .recipe-details__img-title-row {
        display:flex;
        flex:2;
        margin:20px;
        padding: 2rem;
        align-items: center;
        text-align: center;
        .img-container {
            img {
                width: 325px;
                height: 230px;
                object-fit: cover;
            }
        }
        .title-container{
            margin: auto;
        }
        .title-container {
            .meal-label {
                display: inline-flex;
                padding: 10px;
                justify-content: space-around;
                background-color: color.$emerald;
                min-width: 150px;
                align-items: center;
                text-align: center;
                border-radius: 20px;
                h2 {
                    color: black;
                    font-size: 1.25rem;
                    margin: 0;
                }
            }
            
        }
    }
    .recipe-details__ingredients{
        text-align: center;
        padding-top: 5px;
        #ingredients-list{
            display: inline-block;
            text-align: left;
        }
    }
  
    
    .recipe-details__instructions {
        text-align: center;
        #instructions-list {
            display: inline-block;
            text-align: left;
            margin:0 10%;
            padding-bottom: 10%;
        }
    }
}


/* ===== FOOTER ===== */
footer {
    background-color: color.$dark-teal;
    padding-top: 5rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    .icon-github {
        color: white;
        font-size: 75px;
    }

    .github-link:hover,
    .github-link:focus {
        border: 0.1em solid rgb(0 0 0 / 0.2);
    }

    .socials-and-attributions {
        color: white;
        font-family: fonts.$heading-font;
        margin-top: 0;
        margin-bottom: .5rem;
        padding-top: 3rem;
        justify-self: flex-end;
        text-align: center;

        a:link {
            color: color.$light-blue;
        }
        a:visited {
            color: color.$light-purple;
        }
        a:active {
            color: color.$pink;
        }
    }
}

/* ===== Media Queries ===== */

/* For phones in Portrait Mode */
@media screen and (max-width: 500px) {

    /* Landing Page */
    header {
        .brand {
            font-size: 2rem;
        }
        .search-container {
            margin: 0 10px;
        }
        .search-form {
            justify-content: center;
        }
        .search-form__input {
            min-width: 200px;
            font-size: 1rem;
            padding-left: 10px;
            flex-grow: 2;
        }
        .search-form__search-button {
            margin-right: 5px;
        }
        .app-instructions {
            margin: 20px;
            text-align: center;
            font-weight: bold;
            margin-top: 1rem;
        }
    }
    .recipes {
        padding-top: 0.5rem;
        width: 100vw;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
    }
    #landing-page {
        .quote-and-suggestions-section {
            padding: 2rem 0;

            width: 90vw;
            align-self: center;
            h3 {
                font-size: 2rem;
            }
        }
        .suggestions-headline {
            margin: 0;
        }
    }

    /* Search Results */
    #search-results-container {
        ul {
            padding: 0;
        }
    }

    /* Modal */
    #modal {
        margin-top: 1rem;
        width: 85vw;
        position: relative;
        .recipe-details__exit-button {
            margin: 5px 5px 0 0;
            position: absolute;
            top: 0;
            right: 0;
        }
        .img-title-row {
            width: 100%;
            flex-direction: column;
            margin: 0;
            .img-container {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .title-container {
                h1 {
                    font-size: 2rem;
                }
                .meal-label {
                    height: 40px;
                    h3 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .ingredients {
            margin: 0;
            margin-right: 10px;
        }
        .instructions {
            margin: 0;
            margin-right: 10px;
        }
    }
}

/* For screens larger than phones that move down to one card per row */
@media screen and (min-width: 501px) and (max-width: 1000px) {
    .recipes {
        width: 85vw;
    }
    article {
        width: 100vw;
    }
}


/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden,
 [hidden] {
   display: none !important;
 }
 
 /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
 
 .sr-only {
   border: 0;
   clip: rect(0, 0, 0, 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   white-space: nowrap;
   width: 1px;
   /* 1 */
 }
 
 /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
 
 .sr-only.focusable:active,
 .sr-only.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   white-space: inherit;
   width: auto;
 }
 
 /*
  * Hide visually and from screen readers, but maintain layout
  */
 
 .invisible {
   visibility: hidden;
 }