$dark-forest-green: #384547;
$green-tea-green: #C9E8BA;
$dark-magenta: #8F2D56;
$light-magenta: #C5497F;
$dark-teal: #196160;
$light-teal: #0D9D9B;
$emerald: #58BC82;
$light-blue: #bfdbff;
$light-purple: #ddd1ff;
$pink: #ffcccf;