@use 'color';

$default-font: 'Open Sans', sans-serif;
$heading-font: 'Josefin Sans', sans-serif;

h1, h2, h3, ol, p, ul,li {
    color: color.$dark-forest-green;
}

h1, h2, h3 {
    font-family: $heading-font;
}

// Brand title
h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

// Recipe titles and buttons on landing page
h2, .recipe-button {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    text-align: center;
}

.recipe-button {
    color: white;
}
.recipe-category {
    color: black;
}

// "Global food waste ..."
h3 {
    font-size: 2rem;
}
